.card-grid {
    background-color: #101010;
    display: flex;
    justify-content: center;
    padding: 72px;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}